<%= render 'header' %>
<div class="mail-content">
  <img src="https://res.cloudinary.com/dmbf8fog4/image/upload/c_scale,w_100/v1555969918/JSA%20Triathlon/logo.jpg" alt="">

  <p>
    Bonjour à toutes et à tous,
  </p>

  <p>
    Un nouvel article vient d'être publié sur le site du club (www.angoulemetriathlon.fr) :
  </p>
  <div class="article-content-title"><%= Article.last.article_type.name %></div>
  <div class="article-content">
    <p><%= Article.last.name %></p>
    <p>
      <i class="fas fa-calendar-check"></i>
      <%= Article.last.date.strftime('%d-%-m-%Y') %>
    </p>
    <p>
      <i class="fas fa-map-marker-alt"></i>
      <%= Article.last.location %>
    </p>
    <i class="fas fa-newspaper"></i>
    <i class="far fa-heart"></i>
    <i class="far fa-comments"></i>
    <% article_link = ("https://jsa-triathlon.herokuapp.com/articles/" + Article.last.id.to_s) %>

  <p>
    <a href="<%= article_link %>" >
      Lien vers l'article
    </a>
  </p>

  </div>



  <p>N'hésites pas à le commenter ou à le liker (surtout en cas d'entrainement vélo pour préciser ta présence)</p>

  <p>Bonne journée</p>
  <p>Ecrit avec
    <i class="far fa-smile-beam"></i> par
    <%= Article.last.user.firstname %>
    (<%= Article.last.user.profil %>)
  </p>
  <p><%= Article.last.user.mobil_phone %></p>
</div>

<%= render 'footer' %>
