<%= render 'header' %>
<h3 style="text-align: center"><%= l Time.now, format: '%B %Y'  %></h3>

<div class="nl-alert">
  <p>Ceci une projet de newsletter avec les différentes rubriques possibles pour un premier envoi en janvier</p>
  <p>Envoi automatique tous les lundis pour le moment puis le 1er du mois à partir de janvier</p>
</div>

<p>
  L'année 2019 commence tout juste et nous avons le plaisir de vous envoyer la première newsletter du club.
</p>
<p>
  Nous démarrons une année importante pour notre club avec en mars l'assemblée générale qui sera l'occasion pour tous les membres d'élir le bureau qui portera à vos yeux le projet le plus intéressant. Si vous souhaitez présenter un projet, n'hésitez pas à vous faire connaitre auprès des membres du bureau pour que nous puissions vous aider à le présenter avant l'AG.
</p>
<p>
  Nous souhaitons à travers cette newsletter pouvoir vous informer tous les mois de la vie du club, de l'avancement des projets et également vous permettre de faire connaissance avec les différents membres du club.
</p>
<p>
  ...
</p>
<p>
  Cette newsletter est la votre alors n'hésitez pas à nous faire part de vos idées, vos remarques pour que nous puissions la faire évoluer tout au long de l'année.
</p>


<h4>Prochains événements du clubs</h4>

<div class="nl-articles-content">
  <% @club_events.each do |club_event| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{club_event.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: club_event} %>
    </a>
  <% end %>
</div>

<h4>Le mot de l'entraineur</h4>
<div class="nl_alert">
  A voir avec Grég tous les mois
</div>
<ul>
  <li>
    Le but de cette période est de développer toutes les qualités physiques nécessaires à la pratique du triathlon. Toutefois, l'accent est mis sur l'endurance de base.
  </li>
  <li>
    Cette période dure de 3 à 6 mois en fonction de l'âge et de la durée de la période de compétition. Je conseille aux jeunes triathlètes d'accorder une grande importance à cette période. Ceci leur permettra de construire une carrière sportive solide.
  </li>
  <li>
    Le volume et l'intensité de l'entraînement augmente progressivement durant toute la période.
  </li>
  <li>
    Le début de cette période permet de travailler la technique ainsi que les points faibles.
  </li>
</ul>

<h4>Les derniers entrainements ou les prochains</h4>
<div class="nl-alert">
  Est ce que nous gardons cette rubrique ?
</div>
<div class="nl-articles-content">
  <% @training_events.each do |training_event| %>
    <a href=" <%='https://www.angouleme-triathlon.fr/articles/' + "#{training_event.id.to_s}"%> "class="nl-a-link">
        <%= render 'newsletter-card', {article: training_event} %>
    </a>
  <% end %>
</div>
<h4>Les prochaines courses</h4>
<div class="nl-alert">
  Si nous n'avons pas de courses à venir, la rubrique peut être masquée. Votre avis ?
</div>
<div class="nl-articles-content">
  <% @next_contests.each do |next_contest| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{next_contest.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: next_contest} %>
    </a>
  <% end %>
</div>
<a href="http://www.angouleme-triathlon.fr/contests" class="nl-a-link" target="_blank">
  <%= render 'link-button' %>
</a>
<h4>Les derniers résultats</h4>
<div class="nl-alert">
  Si nous n'avons pas de résultats du mois en cours, la rubrique peut être masquée. Votre avis ?
</div>
<div class="nl-articles-content">
  <% @last_results.each do |last_result| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{last_result.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: last_result} %>
    </a>
  <% end %>
</div>
<a href="http://www.angouleme-triathlon.fr/results" class="nl-a-link" target="_blank">
  <%= render 'link-button' %>
</a>

<h4>Les dernières photos</h4>
  <a href="http://www.angouleme-triathlon.fr/pictures" class="nl-a-link" target="_blank">
    <%= render 'link-button' %>
  </a>

<h4>Quelques informations de l'école de triathlon</h4>
<div class="nl-alert">
  A alimenter régulièrement. Qui peut poster quelques articles régulièrement ?
</div>
<div class="nl-articles-content">
  <% @tri_school.each do |tri_school| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{tri_school.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: tri_school} %>
    </a>
  <% end %>
</div>
<a href="http://www.angouleme-triathlon.fr/school" class="nl-a-link" target="_blank">
  <%= render 'link-button' %>
</a>

<h4>Les anniversaires du mois</h4>
<div class="nl-alert">
  Fabrice, il faudrait mettre à jour la base de données avec les dates de naissance? J'ai fait le mois de décembre.
</div>
  <% @birthdays.each do |member| %>
  <p><%= member.firstname %> <%= member.lastname.upcase[0] %>., le <%= member.birthday.day %></p>
  <% end %>

<h4>Les informations diverses</h4>
<div class="nl-alert">
  Est ce que nous sélectionnons les articles à diffuser dans cette rubrique ?
</div>
<div class="nl-articles-content">
  <% @various_articles.each do |various_article| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{various_article.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: various_article} %>
    </a>
  <% end %>
</div>
<h4>Retrouvez les <%= @ads_count %> petites annonces actuellement en ligne</h4>

<a href="http://www.angouleme-triathlon.fr/petites_annonces" class="nl-a-link" target="_blank">
  <%= render 'link-button' %>
</a>



<%= render 'footer' %>
