<%= render 'header' %>
<h3 style="text-align: center"><%= l Time.now, format: '%B %Y'  %></h3>

<div class="nl-alert">
  <p>Derniére version avant envoi</p>
</div>

<%= raw @newsletter_chapters.find(1).content %>


<h4>Prochains événements du clubs</h4>

<div class="nl-articles-content">
  <% @club_events.each do |club_event| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{club_event.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: club_event} %>
    </a>
  <% end %>
</div>

<h4>Le mot de l'entraineur</h4>
<div class="nl-alert">
  A voir avec Grég tous les mois
</div>
<%= raw @newsletter_chapters.find(2).content %>

<% if !@training_events.nil? %>
  <h4>Les prochains entrainements</h4>
  <div class="nl-articles-content">
    <% @training_events.each do |training_event| %>
      <a href=" <%='https://www.angouleme-triathlon.fr/articles/' + "#{training_event.id.to_s}"%> "class="nl-a-link">
          <%= render 'newsletter-card', {article: training_event} %>
      </a>
    <% end %>
  </div>
<% end %>

<table>
  <tr>
    <td>
      <h4>Les prochaines courses</h4>
    </td>
    <td>
      <a href="http://www.angouleme-triathlon.fr/contests" class="nl-a-link" target="_blank">
        <%= render 'link-button' %>
      </a>
    </td>
  </tr>
</table>
<div class="nl-articles-content">
  <% @next_contests.each do |next_contest| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{next_contest.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: next_contest} %>
    </a>
  <% end %>
</div>

<% if !@last_results.nil? %>
  <table>
    <tr>
      <td>
        <h4>Les derniers résultats</h4>
      </td>
      <td>
        <a href="http://www.angouleme-triathlon.fr/results" class="nl-a-link" target="_blank">
          <%= render 'link-button' %>
        </a>
      </td>
    </tr>
  </table>
  <div class="nl-articles-content">
    <% @last_results.each do |last_result| %>
      <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{last_result.id.to_s}"%>" class="nl-a-link">
        <%= render 'newsletter-card', {article: last_result} %>
      </a>
    <% end %>
  </div>
<% end %>

<table>
  <tr>
    <td>
      <h4>Les dernières photos</h4>
    </td>
    <td>
      <a href="http://www.angouleme-triathlon.fr/pictures" class="nl-a-link" target="_blank">
        <%= render 'link-button' %>
      </a>
    </td>
  </tr>
</table>

<table>
  <tr>
    <td>
      <h4>Quelques informations de l'école de triathlon</h4>
    </td>
    <td>
      <a href="http://www.angouleme-triathlon.fr/school" class="nl-a-link" target="_blank">
        <%= render 'link-button' %>
      </a>
    </td>
  </tr>
</table>
<div class="nl-articles-content">
  <% @tri_school.each do |tri_school| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{tri_school.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: tri_school} %>
    </a>
  <% end %>
</div>

<h4>Les anniversaires du mois</h4>
<% @birthdays.each do |member| %>
  <p><%= member.firstname %> <%= member.lastname.upcase[0] %>., le <%= member.birthday.day %></p>
<% end %>

<h4>Les informations diverses</h4>
<div class="nl-articles-content">
  <% @various_articles.each do |various_article| %>
    <a href="<%='https://www.angouleme-triathlon.fr/articles/' + "#{various_article.id.to_s}"%>" class="nl-a-link">
      <%= render 'newsletter-card', {article: various_article} %>
    </a>
  <% end %>
</div>

<table>
  <tr>
    <td>
      <h4>Retrouvez les <%= @ads_count %> petites annonces actuellement en ligne</h4>
    </td>
    <td>
      <a href="http://www.angouleme-triathlon.fr/petites_annonces" class="nl-a-link" target="_blank">
        <%= render 'link-button' %>
      </a>
    </td>
  </tr>
</table>




<%= render 'footer' %>
