    <div class="col-xs-12 col-sm-6">
      <div class="user-card-picture" style="background-image: url(<%= helper_user_picture(current_user) %>)">
      </div>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="profil-user-informations">
      <%= f.input :firstname, label: t(".firstname"), input_html:{class: 'user-input'}%>
      <%= f.input :lastname, label: t(".lastname"), input_html:{class: 'user-input'} %>
      <!-- sTODO -->
      <%= f.input :mobil_phone, label: t(".mobil_phone"), input_html:{class: 'user-input'}%>
      <div class="profil-user-informations">
        <%= f.input :birthday, as: :date, label: t(".birthday"), order: [:day, :month, :year], input_html:{class: 'date-time'}%>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6">
    <i class="fas fa-tasks"></i>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="strava-logo">
      <i class="fab fa-strava"></i>
    </div>
    <%= f.input :strava_profil, label: t(".strava_profil") %>

    <div class="profil-user-informations">
      <%= f.input :display_profil, as: :boolean, label: "Apparaitre sur le trombinoscope du club ?" %>
      <%= f.input :notification, as: :boolean, label: "Recevoir les notifications ?" %>
    </div>

  </div>

</div>
