<div class="col-xs-12">
  <%= link_to article_path(article) do %>
    <div class="article article-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= helper_image_path(article) %>') ">
      <div class="article-type">
        <i class="fab fa-elementor"></i>
        <%= article.article_type.name %>
      </div>
      <div class="article-author">
        <i class="fas fa-user-edit"></i>
        <%= name_to_display(article.authors.first.user.id) %>
      </div>
    </div>
  <% end %>
  <div class="article article-card">
    <div class="article-title">
      <h3>
        <%= article.name %>
      </h3>
      <a href="<%= article.link %>" target='_blank'>
        <div class="article-link">
          <%= article.link %>
        </div>
      </a>
    </div>
    <div class="article-location-date-time">
      <div>
        <i class="fas fa-map-marker-alt"></i>
        <%= article.location %>
      </div>
      <div>
        <i class="far fa-calendar-check"></i>
        <%= l article.date, format: '%A %d %B %Y' %>
      </div>
      <div>
        <i class="far fa-clock"></i>
        <%= article.start_time.strftime('%R') %> -
        <%= article.end_time.strftime('%R') %>
      </div>
    </div>
    <% if !current_user.nil? %>
      <div class="participation-content" id="contest-buttons">
        <% if article.date > Time.now %>
          <% if @participation.id.nil? %>
            <%= render 'participations/form_participation', {article: article, participation: @participation, participation_value: 1} %>
          <% else %>
            <%= render 'participations/destroy', {article: article, participation: @participation} %>
          <% end %>
        <% end %>
      </div>
    <% end %>
    <div class="participation-list">
      <%= render 'participations/participation_list', {article: article} %>
    </div>
    <hr>
    <b>Contenu de l'article :</b>
    <p><%= raw article.content %></p>
    <p>
  </div>
  <div class="article-authors">
    <% article.authors.each_with_index do |author, i| %>

      <% if i == 0 %>
        Créé par
        <%= name_to_display(author.user.id) %>
        (<%= l author.created_at, format: '%-d/%-m %R' %>)
        <%= article.authors.length == i+1 ? '.' : ' et mis à jour par ' %>
      <% else %>
        <%= name_to_display(author.user.id) %>
        (<%= l author.created_at, format: '%-d/%-m %R' %>)
        <%= article.authors.length == i+1 ? '.' : ',' %>
      <% end %>
    <% end %>
  </div>
  <% if member? %>
    <%= link_to edit_article_path(article) do %>
      <div class="article-edit-link ">
        <i class="far fa-edit"></i>
      </div>
    <% end %>
  <% end %>
</div>
