<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>
  <% if admin? %>
    <%= f.input :article_type_id, collection: @article_types, label: t('.article_type') %>
  <% else %>
    <%= f.input :article_type_id, as: :hidden, input_html: {value: 3} %>
  <% end %>

  <div class="article-form-photo">
    <%#= f.input :photo, label: t('.photo'), label_html:{class: 'red-alert'} %>

    <%= f.input :photo, input_html: { class: 'hidden' }, label_html: { class: 'upload-photo box-shadow-md'}, label: t('.photo')%>

    <%= f.input :photo_cache, as: :hidden %>
    <% if  @article.errors.messages[:photo].any? %>
      <div class="invalid-feedback-md">
        Vous devez ajouter une photo
      </div>
    <% end %>
    <% if @article.photo? %>
      <%= cl_image_tag(@article.photo, :width => 400, :thumb => "pad") %>
    <% end %>
  </div>
  <%= f.input :name, class: 'title-article', input_html: {placeholder: "Le titre doit faire au maximum 50 caractères", maxlength: 50}, label: t(".name"), id:"name_id" %>
  <%= f.input :date, as: :date, order: [:day, :month, :year] ,input_html: { class: 'date-time'} %>
  <%= f.input :start_time, as: :time, start_hour: 6, end_hour: 22, minute_step: 15, input_html: { class: 'date-time'}, label: t('.start_time') %>
  <%= f.input :end_time, as: :time, start_hour: 7,end_hour: 23, minute_step: 15, input_html: { class: 'date-time'}, label: t('.end_time') %>
  <%= f.input :link, label: t('.link')%>
  <%= f.input :location, label: t('.location') %>
  <% if admin? %>
    <%= f.text_area :content, class: 'ckeditor', label: t('.content') %>
    <%= f.input :active, label: " Publier l'article ?" %>
    <div class="article-mail-div">
      <%= f.input :pinned_article, label: "Cocher la case pour épingler l'article 📌" %>
      <%= f.input :send_email, label: "Cocher cette case pour envoyer l'article à tous les membres (bureau inclus) 🤗" %>
      <%= f.input :send_email_admin, label: "Cocher cette case pour envoyer l'article uniquement au bureau 🤪" %>
    </div>
  <% end %>
  <%#= f.hidden_field :user_id, value: current_user.id %>

  <%= f.submit 'Enregistrer', class: 'btn btn-block btn-danger' %>
<% end %>
