<div class="container">
  <div class="row">
    <%= render 'article_card', {article: @article}  %>
    <div class="col-xs-12">
      <%= render 'likes/form_like', {article: @article, like: @like, like_method: @method,
        add_like: @add_like, like_label: @label, like_class: @class, likers: @likers} %>
      <div>
        <% if !user_signed_in? %>
          <%= link_to new_user_session_path, class: "btn btn-warning btn-block" do %>
            Connectez vous pour laisser un commentaire ou un like
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-xs-12">
      <%= render 'reviews/display_review', {reviews: @reviews} %>
      <% if user_signed_in? %>
        <%= render 'reviews/form_review', {article: @article, review: @review} %>
      <% end %>
    </div>
  </div>
</div>
