<div class="container">
  <div class="row">
    <%= render 'article_card', {article: @article}  %>
    <div class="col-xs-12">
      <div class="like">
        <div class="like-heart">
          <i class="far fa-heart"></i>
        </div>
        <div class="like-count">
          <%= @article.total_likes %>
        </div>
        <div class="like-form">
          <%= simple_form_for [@article, @review] do |f|%>
            <%= f.input :like, as: :hidden, input_html: {value: @add_like} %>
            <%= f.button :submit, 'like', class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-xs-12">
      <h3>
        Commentaires (<%= @reviews.count %>)
      </h3>
      <% @reviews.each do |review| %>
        <div class="review">
          <div class="review-name">
            <%= review.user.firstname %>
          </div>
          <div class="review-content box-shadow-md">
            <%= review.content %>
          </div>
          <div class="review-date">
            <%= review.created_at.strftime('%-d-%-m-%Y %R') %>
          </div>
        </div>
      <% end %>
      <%= simple_form_for [@article, @review] do |f|%>
        <%= f.input :content, label: 'Ecrire un commentaire' %>
        <%= f.button :submit, 'Publier', class: 'btn btn-danger btn-block' %>
      <% end %>

    </div>
  </div>
</div>
