<div id="nl-toogle">
  <div class="nl-toggle-content">
    <div class="nl-toggle-mail-texte">
      <div class="nl-toggle-mail">
        <i class="fas fa-envelope"></i>
      </div>
        <p>Envoyer automatiquement la newsletter</p>
    </div>
    <div class="nl-toggle">
      <%= simple_form_for @newsletter, remote: true do |f|  %>
        <div class="checkbox-hide">
          <%= f.input :send_newsletter, label: false, input_html: {checked: !@newsletter.send_newsletter} %>
        </div>
        <%= button_tag(type: 'submit',class: 'button-remove-css') do %>
          <% if @newsletter.send_newsletter %>
            <i class="fas fa-toggle-on"></i>
            <i class="fas fa-exclamation-triangle"></i>
          <% else %>
            <i class="fas fa-toggle-off"></i>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<div id="nl-date">
  <div class="nl-toggle-content">
    <div class="nl-toggle-mail-texte">
      <div class="nl-toggle-mail">
        <i class="fas fa-calendar-check"></i>
      </div>
        <p>
          Date d'envoi de la prochaine newsletter :
          <%= @newsletter.send_newsletter_date %>
        </p>
    </div>
    <%= simple_form_for @newsletter, remote: true do |f| %>
      <%= f.input :send_newsletter_date, label: false, collection: 1..15, id: 'date-list' %>
      <div class="nl-form-date">
        <%= f.submit 'Mettre à jour la date', class: 'btn btn-danger', id: 'submit-date' %>
      </div>
    <% end %>
  </div>
</div>
