<div class="container">
  <div class="row">
    <h4>Qu'est ce que c'est ?</h4>
    <p>Le Championnat de France des clubs féminins et masculins de 3ème Division de Triathlon se dispute sous la formule d’élimination directe sur 3 niveaux : Sélection régionale, Demi-Finale par zone (Nord, Nord-Est, Sud-Est, Sud-Ouest, Centre-Ouest) et finale. La Finale réunit l’ensemble des clubs qualifiés à l’issue de ½ finales de zone.</p>

  <div class="col-sm-12 col-md-6">
    <div class="d3-team">
      Equipes Féminine
      <h4>
        <% if !@d3_women_manager[0].nil? %>
          <p>
            Manager
          </p>
          <%= render 'clubs/user_card', {user: @d3_women_manager.first} %>
        <% end %>
      </h4>
      <p>
        Participantes
      </p>
      <div class="d3-members">
        <div class="row">
          <% @d3_womens.each do |women| %>
            <div class="col-sm-12 col-md-6">
              <%= render 'clubs/user_card', {user: women} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-md-6">
    <div class="d3-team">
      Equipes Masculine
      <h4>
        <% if !@d3_men_manager[0].nil? %>
          <p>
            Manager
          </p>
            <%= render 'clubs/user_card', {user: @d3_men_manager.first} %>
        <% end %>
      </h4>
      <p>
        Participants
      </p>
      <div class="d3-members">
        <div class="row">
          <% @d3_mens.each do |men| %>
            <div class="col-sm-12 col-md-6">
              <%= render 'clubs/user_card', {user: men} %>
            </div>
          <% end %>
        </div>

      </div>

    </div>
  </div>
  <h4>
    EPREUVES
  </h4>
    <% @d3_contests.each do |d3_contest| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="d3-content">
          <div class="d3-content-type">
            <div class="d3-abbreviation">
              <%= d3_contest.contest_type.abbreviation %>
            </div>
            <div class="d3-abbreviation-name">
              <%= d3_contest.contest_type.name %>
            </div>
          </div>

          <div class="d3-name">
            <%= d3_contest.name %>
          </div>
          <div class="d3-location">
            <i class="fas fa-map-marker-alt"></i>
            <%= d3_contest.location %>
          </div>
          <div class="d3-date">
            <i class="fas fa-calendar-check"></i>
            <%= l(d3_contest.date, format: '%d %B %Y') %>
          </div>
        </div>
        <%= link_to new_d3_result_path do %>
          <i class="fas fa-user-edit"></i>
          Saisir un résultat
        <% end %>
        <% d3_contest.d3_results.each do |result| %>
          <div class='d3-result-content'>
            <p>
              <%= result.user.firstname %>
              <%= result.user.lastname %>
            </p>
            <div class='d3-result-rank'>
              <%= result.rank %>
            </div>
            <p>
              Temps total: <%= l result.total, format: '%H:%M:%S' %>
            </p>
            <p>
              <i class="fas fa-swimmer fa-lg"></i>
              <%= l result.swim, format: '%H:%M:%S' %>
              T1: <%= l result.t1, format: '%M:%S' %>
            </p>
            <p>
              <i class="fas fa-biking fa-lg"></i> <%= l result.bike, format: '%H:%M:%S' %>
              T2: <%= l result.t2, format: '%M:%S' %>
            </p>
            <p>
              <i class="fas fa-running fa-lg"></i> <%= l result.run, format: '%H:%M:%S' %>
            </p>

          </div>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
