<div class="container">
  <div class="row">
    <h4>Qu'est ce que c'est ?</h4>
    <p>Le Championnat de France des clubs féminins et masculins de 3è Division de Triathlon se dispute sous la formule d’élimination directe sur 3 niveaux : Sélection régionale, Demi-Finale par zone (Nord, Nord-Est, Sud-Est, Sud-Ouest, Centre-Ouest) et finale. La Finale réunit l’ensemble des clubs qualifiés à l’issue de ½ finales de zone.</p>

  <h4>Les équipes</h4>
  <div class="col-xs-12 col-sm-12">
    Equipes Femmes
  </div>
  <div class="col-xs-12 col-sm-12">
    Equipes Hommes
  </div>
  <h4>
    EPREUVES
  </h4>
    <% @d3_contests.each do |d3_contest| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="d3-content">
          <div class="d3-content-type">
            <div class="d3-abbreviation">
              <%= d3_contest.contest_type.abbreviation %>
            </div>
            <div class="d3-abbreviation-name">
              <%= d3_contest.contest_type.name %>
            </div>
          </div>

          <div class="d3-name">
            <%= d3_contest.name %>
          </div>
          <div class="d3-location">
            <i class="fas fa-map-marker-alt"></i>
            <%= d3_contest.location %>
          </div>
          <div class="d3-date">
            <i class="fas fa-calendar-check"></i>
            <%= l(d3_contest.date, format: '%d %B %Y') %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
