<% if admin? %>
  <div class="container">
    <div class="row">
      <%= link_to users_path do %>
      <i class="fas fa-arrow-left"></i>
      Liste des membres
      <% end %>
      <%= simple_form_for @user do |f| %>
        <%= f.error_notification %>
        <h3>
          <%= @user.firstname %> <%= @user.lastname %>
        </h3>
          <%#= f.input :email %>
          <%#= f.input :firstname %>
          <%#= f.input :lastname %>
          <%#= f.input :birthday %>
          <%#= f.input :mobil_phone %>
          <%#= f.input :role %>
          <h4>Informations de connexion(s) sur le site</h4>
          <div class="user-check">
            <p>
              compte créé le
              <%= l(@user.created_at, format: '%d %B %Y') %>
            </p>
            <% if !@user.last_sign_in_at.nil? %>
              <p>
                dernière connexion le
                <%= l(@user.last_sign_in_at, format: '%d %B %Y') %>
              </p>
            <% end %>
          </div>
          <h4>Paramètres du compte</h4>
          <div class="user-check">
            <%= f.input :member, label: 'Est ce que ce profil est membre du club ?', as: :select %>
            <%= f.input :display_profil, label: 'Est ce que ce profil est affiché sur le site (page club) ?', as: :select %>
            <%= f.input :profil, label: 'Description affichée sous la photo de profil (Membre par défaut)' %>
            <%= f.input :notification, label: 'Est ce que le profil reçoit les mails (articles, newsletter... ?', as: :select %>
          </div>
          <h4>Paramètres spécifiques pour les membres du bureau</h4>
          <div class="user-check">
            <%= f.input :office_member, label: 'Est ce que ce membre est membre du bureau ?', as: :select %>
            <%#= f.input :notification, label: 'Accepte les notifications ?' %>
            <%#= f.input :mailing_group %>
            <%#= f.input :strava_profil %>
            <%= f.input :contactable, label: 'Est ce que ce membre doit apparait sur le site comme contactable ? (page inscription)', as: :select %>
          </div>
          <h4>Paramètres spécifiques pour les coachs</h4>
          <div class="user-check">
            <%= f.input :coach, label: 'Est ce membre est coach ? ', as: :select %>
            <%= f.input :skill_swim, label: 'Natation ?', as: :select %>
            <%= f.input :skill_bike, label: 'Vélo ?', as: :select %>
            <%= f.input :skill_run, label: 'Course à pied ?', as: :select %>
          </div>
          <%= f.submit 'Mettre à jour le membre', class: 'btn btn-danger btn-block' %>
      <% end %>
    </div>
  </div>
<% end %>
