<% if admin? %>
  <div class="container">
    <div class="row">
      <h3>
        Liste des inscriptions directes sur le web
        - <%= @web_subscritpion_users.length %>

        </h3>
      <% @web_subscritpion_users.each do |new_user| %>
        <%= render 'user_bo_card', {user: new_user} %>
      <% end %>
    </div>
    <div class="row">

      <h3>
        Tous les membres actifs- <%= @active_members.length %>
      </h3>

      <% @alpha_letters.each do |letter| %>
        <% user_by_letter(letter, true) %>
        <% if @user_by_letter.length!=0 %>
          <div class="user-letter">
            <%=letter%> - <%= @user_by_letter.count %>
          </div>
          <div class="row">
            <% @user_by_letter.each do |user| %>
              <%= render 'user_bo_card', {user: user} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="row">

      <h3>
        Tous les membres non actifs
      </h3>

      <% @alpha_letters.each do |letter| %>
        <% user_by_letter(letter, false) %>
        <% if @user_by_letter.length!=0 %>
          <div class="user-letter">
            <%=letter%> - <%= @user_by_letter.count %>
          </div>
          <div class="row">
            <% @user_by_letter.each do |user| %>
              <%= render 'user_bo_card', {user: user} %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

