<% if admin? %>
  <div class="container">
    <div class="row">
      <h3>Liste des inscritpions sur le web</h3>
      <% @web_subscritpion_users.each do |new_user| %>
        <div class="col-sm-4">
          <%= new_user.lastname %>
          <%= new_user.firstname %>
        </div>
      <% end %>
    </div>
    <div class="row">
      <h3>Tous les membres</h3>
      <% @users.each do |user| %>
        <div class="col-sm-4">
          <%= link_to edit_user_path(user) do %>
            <i class="far fa-edit"></i>
          <% end %>
          <%= user.lastname.upcase %>
          <%= user.firstname %>
        </div>
      <% end %>

    </div>
  </div>
<% end %>

