<%= render 'user_mailer/header' %>
<p>Un nouvelle annonce vient d'être mise en ligne</p>
<p>
  <%= @product.name %>
</p>
<img src=" <%= @product.photo %> " alt="" class="product-photo">
<p>
  <%= @product.description %>
</p>
<p>
  <%= @product.user.firstname %>

  <%= @product.user.lastname %>
</p>
<p>
  <%= @product.user.mobil_phone %>
</p>
<p>
  <%= @product.user.email %>
</p>
<%= render 'user_mailer/footer' %>
