<div class="picture-card-homepage">
  <a href="<%= article.link %>" target="_blank">
    <div class="picture-card">
      <%= link_to article_path(article) do %>
        <div class="picture-card-photo picture picture-card-photo-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= helper_image_path(article) %>');">
          <div class="picture-card-title">
            <%= article.name %>
          </div>
          <% if !article.active %>
            <div class="picture-card-status">
              <i class="fas fa-exclamation-triangle"></i>
              non publié
              <i class="fas fa-exclamation-triangle"></i>
            </div>
          <% end %>
          <% if article.user.photo? %>
            <div class="picture-card-name-photo">
              <%= render 'shared/user_picture', user: article.user %>
            </div>
          <% else %>
            <div class="picture-card-name">
              <%= article.user.firstname %>
            </div>
          <% end %>


          <div class="picture-card-date">
            <%= article.date.strftime('%d/%m/%Y') %>
          </div>
        </div>
      <% end %>
      <div class="picture-card-container">
        <div class="picture-card-like">
          <i class="fas fa-map-marker-alt"></i>
          <%= article.location %>
        </div>
        <%= link_to article.link do %>
          <div class="picture-card-review">
            <i class="fas fa-link"></i>
          </div>
        <% end %>
      </div>
    </div>
  </a>
  <% if user_signed_in? %>
    <% if current_user.role == 'admin' %>
      <%= link_to edit_article_path(article) do %>
        <div class="homepage-card-edit-link ">
          <i class="far fa-edit"></i>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

