<!-- for mobile -->
<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
    <div class="event-card-content box-shadow-md">
      <div class="event-card-text gradient-an-blue-purple">

        <h3><%= articles.first.name %></h3>
        <p><%= articles.first.date.strftime('%d/%m/%Y') %></p>
        <i class="fas fa-map-marker-alt"></i>
        <p><%= articles.first.location %></p>

        <%= link_to article_path(articles.first) do %>
          <div class="event-card-picture" style="background-image: url('<%= helper_image_path(articles.first) %>');">
          </div>
        <% end %>
      </div>
    </div>
  <% if admin? %>
    <%= link_to edit_article_path(articles.first) do %>
      <div class="article-edit-link ">
        <i class="far fa-edit"></i>
      </div>
    <% end %>
  <% end %>
</div>
<div class="col-xs-12 hidden-sm">
  <div class="correct-xs"></div>
</div>

<!-- for other device -->
<div class="hidden-xs">
  <% articles.each do |article| %>
    <div class="col-sm-6 col-md-4">
        <div class="event-card-content box-shadow-md">
          <div class="event-card-text gradient-an-blue-purple">
            <h3 class="event-card-text-align"><%= article.name %></h3>
            <p><%= article.date.strftime('%d/%m/%Y') %></p>
            <i class="fas fa-map-marker-alt"></i>
            <p><%= article.location %></p>

            <%= link_to article_path(article) do %>
              <div class="event-card-picture" style="background-image: url('<%= helper_image_path(article) %>');">
                <% if article.pinned_article  %>
                  <div class="event-card-picture-bookmark">
                    <i class="fa-solid fa-bookmark"></i>
                  </div>
                <% end %>
             </div>
            <% end %>

          </div>
        </div>
      <% if admin? %>
        <%= link_to edit_article_path(article) do %>
          <div class="article-edit-link ">
            <i class="far fa-edit"></i>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
