<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
  <!-- <div class="picture-card-homepage"> -->
    <a href="<%= pictures.first.link %>" target="_blank">
      <div class="picture-card">
        <div class="picture-card-photo picture picture-card-photo-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= helper_image_path (pictures.first) %>');">
          <div class="picture-card-title">
            <%= pictures.first.title %>
          </div>
          <div class="picture-card-name">
            <%= render 'shared/user_picture', user: pictures.first.user %>
          </div>
          <div class="picture-card-date">
            <%= pictures.first.date.strftime('%d/%m/%Y') %>
          </div>
        </div>
        <div class="picture-card-container">
          <div class="picture-card-like">
          </div>
          <div class="picture-card-review">
          </div>
        </div>
      </div>
    </a>
  <!-- </div> -->
</div>
<div class=" col-xs-12">
  <div class="correct-xs"></div>
</div>

<% pictures.each do |picture| %>
  <div class="hidden-xs col-sm-6 col-md-4">
    <!-- <div class="picture-card-homepage"> -->
      <a href="<%= picture.link %>" target="_blank">
        <div class="picture-card">
          <div class="picture-card-photo picture picture-card-photo-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= helper_image_path (picture)  %>');">
            <div class="picture-card-title">
              <%= picture.title %>
            </div>
            <div class="picture-card-name">
              <%= render 'shared/user_picture', user: picture.user %>
            </div>
            <div class="picture-card-date">
              <%= picture.date.strftime('%d/%m/%Y') %>
            </div>
          </div>
          <div class="picture-card-container">
            <div class="picture-card-like">
            </div>
            <div class="picture-card-review">
            </div>
          </div>
        </div>
      </a>
    <!-- </div> -->
  </div>
<% end %>
