<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h3>Les prochaines épreuves</h3>
    </div>
  </div>
  <% @list_dates.each do |date| %>
    <div class="row">
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-2">
        <div class="calendar-card-content box-shadow-md">
          <div class="calendar-card-date">
            <%= l Date.strptime(date, '%Y-%m-%d'), format: '%A' %>
          </div>
          <div class="calendar-card-date">
            <%= Date.strptime(date, '%Y-%m-%d').strftime('%d') %>
          </div>
          <div class="calendar-card-date">
            <%= l Date.strptime(date, '%Y-%m-%d'), format: '%B'%>
          </div>
          <div class="calendar-card-month-year-content">
            <div class="calendar-card-month">
              <%= l Date.strptime(date, '%Y-%m-%d'), format: '%Y'%>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-sm-8 col-md-9 col-lg-10">
        <% helper_list_contests(date).each do |contest| %>
          <%= link_to article_path(contest) do %>
            <div class="contest-little-card box-shadow-md" id="<%= contest.id %>">
              <div>
                <%= contest.name %> à
                <%= contest.location %>
              </div>
              <div class="contest-list-like-comment">
                <i class="fas fa-user-friends"></i>
                <%= contest.participations.count %>
                <i class="fas fa-heart"></i>
                <%= contest.likes.count %>
                <i class="fas fa-comments"></i>
                <%= contest.reviews.count %>
              </div>
            </div>
          <% end %>
          <div class="participants-container" id="<%= contest.id.to_s + '-participants' %>">
            <div class="participants-text">
              <% helper_list_participants(contest).each do |participant| %>
                <%= participant.user.firstname %>,
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
</div>
