<%= render 'homepage_carousel' %>
<div class="container">
  <div class="row">
    <div class="fb-post">
      <h3>Dernier post facebook</h3>
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FJSATriathlon%2Fposts%2F1966055170168921&width=500" width="80%" height="632" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

  </div>
</div>

<div class="wrapper wrapper-black">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        Le club
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        Le prochain événement du club
      </div>
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/Stadium_fgbv6j.jpg', :quality=>25)  %>)">
        <div class="home-card-title">
        </div>
      </div>
      <div class="btn btn-danger btn-block">
        Voir tous les événements
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-black">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        Le prochain entrainement
      </div>
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/gbv5kduuof8mfpganben.jpg', :quality=>25)  %>)">
        <div class="home-card-title">
          <i class="fas fa-running"></i>
          <p>Entrainements</p>
        </div>
      </div>
      <div class="btn btn-danger btn-block">
        Voir le planning
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        La prochaine course
      </div>
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/calendrier_agenda.jpg', :quality=>25)  %>)">
        <div class="home-card-title">
          <i class="far fa-calendar-alt"></i>
          <p>14/12</p>
        </div>
      </div>
      <%= link_to calendar_path, class: "btn btn-danger btn-block"  do %>
          Voir le calendrier
      <% end %>
    </div>
  </div>
</div>
<div class="wrapper wrapper-black">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        Les derniers résultats
      </div>
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/Ironman_WC_2016_Kona_frenchfuel_3_r3kgoy.jpg', :quality=>25) %>)">
        <div class="home-card-title">
          <i class="far fa-calendar"></i>
          <p>Articles</p>
        </div>
      </div>
      <div class="btn btn-danger btn-block">
        Voir tous les résultats
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        L'école de triathlon
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-black">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        Bourse d'échange matériel
      </div>
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/c_crop,g_auto,h_300/v1541453464/material_y31jlr.jpg)">
        <div class="home-card-title">
          <i class="fas fa-bicycle"></i>
          <p>Matériel</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
  <div class="container">
    <div class="row">
      <div class="wrapper-title">
        Les photos
      </div>
      <%= link_to pictures_path do %>
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/jsa_dggizl.jpg', :quality=>25)  %>)">
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'homepage_partners' %>
<%= render 'shared/footer'  %>
