<%= render 'homepage_carousel', homepage_club: @club %>
<% if member? %>
    <%#= render 'homepage_form' %>
<% end %>
<div class="wrapper">
  <div class="wrapper-title">
    Evénements du club
  </div>
  <div class="container">
    <div class="row">
      <%= render 'homepage_event_card', {articles: @club_events_top3} %>
    </div>
  </div>
  <%= link_to club_events_path, class: "wrapper-link wrapper-link-black" do  %>
    Voir tous les événements
  <% end %>
</div>
<div class="wrapper wrapper-black">
  <div class="wrapper-title">
    Entraînements
  </div>
  <div class="container">
    <div class="row">
      <%= render 'wrapper_cards', {articles: @trainings_top3} %>
    </div>
  </div>
  <%= link_to trainings_path, class: "wrapper-link wrapper-link-white"  do %>
      Voir tous les entraînements
  <% end %>
  <div class="hidden-xs">
    <%= link_to calendar_path, class: "home-calendar-link" do %>
      Voir le calendrier
    <% end %>
  </div>
</div>
<div class="wrapper">
  <div class="wrapper-title">
    Prochaines épreuves
  </div>
  <div class="container">
    <div class="row">
      <%= render 'wrapper_cards', {articles: @contests_top3} %>
    </div>
  </div>
  <%= link_to contests_path, class: "wrapper-link wrapper-link-black"  do %>
      Voir toutes les épreuves
  <% end %>

</div>
<div class="wrapper-result">
  <%= link_to results_path, class: "home-results" do %>
    <i class="fas fa-trophy"></i>
    Voir les résultats
    <i class="fas fa-trophy"></i>
  <% end %>
</div>

<div class="wrapper wrapper-black">
  <div class="wrapper-title">
    L'école de triathlon
  </div>
  <div class="container">
    <div class="row">
      <%= render 'wrapper_cards', {articles: @schools_top3} %>
    </div>
  </div>
  <%= link_to school_path, class: "wrapper-link wrapper-link-white"  do %>
    Voir tous les articles
  <% end %>
</div>
<div class="wrapper">
  <div class="wrapper-title">
    Divers
  </div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 ">
      <%= link_to sportswears_path do %>
        <div class="picture-card">
          <div class="home-card home-card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/v1541711807/JSA%20Triathlon/jsa_dggizl.jpg)">
          </div>
          <div class="home-card-title">
            Tenues
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4 ">
      <%= link_to petites_annonces_path do %>
        <div class="picture-card">
          <div class="home-card home-card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/v1547936399/vocj3xqfcyw83pg75bpr.jpg)">

          </div>
          <div class="picture-card-counter">
            <%= @product_echange_count %>
          </div>
          <div class="home-card-title">
            Petites annonces
          </div>

        </div>
      <% end %>

    </div>
    <div class="col-xs-12">
      <div class="correct-xs">
      </div>
    </div>

  </div>
</div>
</div>
<div class="wrapper wrapper-black">
  <div class="wrapper-title">
    Les photos
  </div>
  <div class="container">
    <div class="row">
      <%= render 'picture_link', {pictures: @pictures} %>
    </div>
  </div>

  <%= link_to pictures_path, class: "wrapper-link wrapper-link-white" do %>
    Voir toutes les photos
  <% end %>
</div>
<% if member? %>
  <div class="hidden-sm hidden-md hidden-lg">
    <%= link_to new_article_path do %>
      <div class="plus-button plus-button-mobile">
        <i class="far fa-edit"></i>
      </div>
    <% end %>
  </div>
  <div class="hidden-xs">
    <%= link_to new_article_path do %>
      <div class="plus-button plus-button-desktop">
        <i class="far fa-edit"></i>
         Ecrire un article
      </div>
    <% end %>
  </div>
<% else %>
  <a href="https://espacetri.fftri.com/">
    <div class="licence box-shadow-md">
      <div>Se</div>
      <div>licencier</div>
    </div>
  </a>
<% end %>

<%= render 'homepage_partners' %>
<%= render 'shared/footer'  %>
