<%= render 'homepage_carousel' %>
<div class="container">
  <div class="row">
    <div class="fb-post">
      <div class="wrapper-title">
        Dernier post facebook
      </div>
        <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FJSATriathlon%2Fposts%2F2032913406816430&width=500" width="80%" height="632" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>

  </div>
</div>

<div class="wrapper wrapper-black gradient-an-black-gray">
  <div class="wrapper-title">
    Le club
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render 'wrapper_cards', {articles: @clubs} %>
      </div>
    </div>
  </div>
  <%= link_to clubs_path, class: "wrapper-link wrapper-link" do %>
    Découvrir le club
  <% end %>
</div>
<div class="wrapper">
  <div class="wrapper-title">
    Evénement du club
  </div>
  <div class="container">
    <div class="row">
      <div class="picture-card-homepage">
        <%= render 'wrapper_cards', {articles: @club_events_top3} %>
      </div>
    </div>
  </div>
  <%= link_to club_events_path, class: "wrapper-link wrapper-link-black" do  %>
    Voir tous les événements
  <% end %>
</div>
<div class="wrapper wrapper-black">
  <%= render 'in_construction' %>
  <div class="wrapper-title">
    Entrainements
  </div>
<!--   <div class="home-card home-card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/gbv5kduuof8mfpganben.jpg', :quality=>25)  %>)">
  </div> -->
  <%= render 'training_link' %>
  <%= link_to calendar_path, class: "wrapper-link"  do %>
      Voir le planning
  <% end %>
</div>
<div class="wrapper">
  <div class="wrapper-title">
    La prochaine course
  </div>
  <div class="container">
    <div class="row">
      <%= render 'wrapper_cards', {articles: @contests_top3} %>
    </div>
  </div>
  <%= link_to contests_path, class: "wrapper-link wrapper-link-black"  do %>
      Voir le calendrier
  <% end %>

</div>
<div class="wrapper wrapper-black">
  <div class="wrapper-title">
    Les derniers résultats
  </div>
  <div class="container">
    <div class="row">
      <%= render 'wrapper_cards', {articles: @results_top3} %>
    </div>
  </div>
  <%= link_to results_path, class: "wrapper-link" do %>
    Voir tous les résultats
  <% end %>
</div>
<div class="wrapper">
  <div class="wrapper-title">
    L'école de triathlon
  </div>
  <div class="container">
    <div class="row">
      <%= render 'wrapper_cards', {articles: @schools_top3} %>
    </div>
  </div>
  <%= link_to school_path, class: "wrapper-link wrapper-link-black"  do %>
    Voir tous les articles
  <% end %>
</div>
<div class="wrapper wrapper-black">
  <div class="wrapper-title">
    Divers
  </div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4 ">
      <%= link_to sportswears_path do %>
        <div class="picture-card">
          <div class="home-card home-card-homepage" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/v1541711807/JSA%20Triathlon/jsa_dggizl.jpg)">
          </div>
          <div class="home-card-title">
            Tenues
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12">
      <div class="correct-xs">

      </div>
    </div>

  </div>
</div>
</div>
<div class="wrapper">
  <div class="wrapper-title">
    Les photos
  </div>
  <div class="container">
    <div class="row">
      <%= render 'picture_link', {pictures: @pictures} %>
    </div>
  </div>

  <%= link_to pictures_path, class: "wrapper-link wrapper-link-black" do %>
    Voir toutes les photos
  <% end %>
</div>
<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <%= link_to new_article_path do %>
      <div class="plus-button">
        <i class="far fa-edit"></i>
      </div>
    <% end %>
  <% end %>
<% else %>
  <a href="https://espacetri.fftri.com/">
    <div class="licence ">
      <div>Se</div>
      <div>licencier</div>
    </div>
  </a>
<% end %>
<%= render 'homepage_partners' %>
<%= render 'shared/footer'  %>
