<div class="container">
  <div class="row">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <a href="">
            <img src="<%= cl_image_path('JSA Triathlon/0001_A2A0334-me_lycckv.jpg', :quality=>25)  %>" alt="...">
            <div class="carousel-caption">
              ...

          </a>
          </div>
        </div>
        <div class="item">
          <img src="<%= cl_image_path('JSA Triathlon/0001_A2A0479-me_okbavq.jpg', :quality=>25)  %>" alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>
        <div class="item">
          <img src="<%= cl_image_path('JSA Triathlon/0001_A2A0196-me_z6nfqj.jpg', :quality=>25)  %>" alt="...">
          <div class="carousel-caption">
            ...
          </div>
        </div>
      </div>

      <!-- Controls -->
      <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="row">
    <div class="fb-post">
      <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2FJSATriathlon%2Fposts%2F1966055170168921&width=500" width="500" height="632" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/Ironman_WC_2016_Kona_frenchfuel_3_r3kgoy.jpg', :quality=>25) %>)">
        <div class="home-card-title">
          <i class="far fa-calendar"></i>
          <p>Articles</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/gbv5kduuof8mfpganben.jpg', :quality=>25)  %>)">
        <div class="home-card-title">
          <i class="fas fa-running"></i>
          <p>Entrainements</p>
        </div>
      </div>
    </div>
    <%= link_to calendar_path do %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/calendrier_agenda.jpg', :quality=>25)  %>)">
          <div class="home-card-title">
            <i class="far fa-calendar-alt"></i>
            <p>Agenda </p>
          </div>
        </div>
      </div>
    <% end %>
    <%= link_to pictures_path do %>
      <div class="col-xs-6 col-sm-4 col-md-3">
        <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/jsa_dggizl.jpg', :quality=>25)  %>)">
          <div class="home-card-title">
            <i class="fas fa-images"></i>
            <p>Photos</p>
          </div>
        </div>
      </div>
    <% end %>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= cl_image_path('JSA Triathlon/Stadium_fgbv6j.jpg', :quality=>25)  %>)">
        <div class="home-card-title">
          <p>Partenaires</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col-sm-4 col-md-3">
      <div class="home-card" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(https://res.cloudinary.com/dmbf8fog4/image/upload/c_crop,g_auto,h_300/v1541453464/material_y31jlr.jpg)">
        <div class="home-card-title">
          <i class="fas fa-bicycle"></i>
          <p>Matériel</p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer'  %>
