<%= simple_form_for(@picture) do |f| %>
  <%= f.error_notification %>
  <%= f.input :title, label: 'Titre' %>
  <div class="datepicker">
    <%= f.input :date, as: :date, order: [:day, :month, :year], input_html: {class: 'date-time'} %>
  </div>
  <%= f.input :link, label: "Colle ici le lien vers l'album photo" %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="article-form-photo">
    <% if @picture.photo? %>
      <%= cl_image_tag(@picture.photo, width: 400) %>
    <% end %>
  </div>
  <%= f.submit "Créer l'album", class: 'btn btn-danger btn-block' %>
<% end %>
