<div class="container">
<h3>Albums photos</h3>
  <div class="row">
    <% @pictures.each do |picture| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <a href="<%= picture.link %>" target="_blank">
          <div class="picture-card">
            <div class="picture-card-photo picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= helper_image_path(picture) %>');">
              <div class="picture-card-title">
                <%= picture.title %>
              </div>
              <div class="picture-card-name">
                <%= render 'shared/user_picture', user: picture.user %>
              </div>
              <div class="picture-card-date">
                <%= picture.date.strftime('%d/%m/%Y') %>
              </div>
            </div>
            <div class="picture-card-container">
              <div class="picture-card-like">
              </div>
              <div class="picture-card-review">
              </div>
            </div>
            <% if admin? %>
              <%= link_to edit_picture_path(picture) do %>
                <div class="article-edit-link ">
                  <i class="far fa-edit"></i>
                </div>
              <% end %>
            <% end %>
          </div>
        </a>
      </div>
    <% end %>
  </div>
  <% if member? %>
    <%= link_to new_picture_path do %>
      <div class="hidden-sm hidden-md hidden-lg">
        <%= link_to new_picture_path do %>
          <div class="plus-button plus-button-mobile">
            <i class="fas fa-camera-retro"></i>
          </div>
        <% end %>
      </div>
      <div class="hidden-xs">
        <%= link_to new_picture_path do %>
          <div class="plus-button plus-button-desktop">
            <i class="fas fa-camera-retro"></i>
              <div> Ajouter un album photo</div>
          </div>
        <% end %>
      </div>

    <% end %>
  <% end %>
</div>


