<div class="container">
  <div class="row">
    <div class="dashboard-content box-shadow-md">
      <h4>Depuis le <%= l Time.now-7.day, format: '%A %d %B' %></h4>
      <p>+<%= @nb_articles %> articles</p>
      <p>+<%= @nb_likes %> likes</p>
      <p>+<%= @nb_reviews %> reviews</p>

      <h4>Top influenceurs </h4>
        <% @influencers.each do |influencer| %>
          <p>
            <%= influencer[:user].firstname %>
            <%= influencer[:score] %>
            pts
          </p>
        <% end %>

    </div>
  </div>
</div>
<div class="triangle">
</div>
