<%= render 'user_mailer/header' %>
<p>Bonjour à toutes et à tous, </p>
<p>Voici les résultats de l'épreuve
  <span class="bold-mail">
    <%= @article.name %>
  </span>
  qui a eu lieu le
  <span class="bold-mail">
    <%= l @article.date, format: '%A' %>
    <%= l @article.date, format: '%d' %>
    <%= l @article.date, format: '%B'%>
    <%= l @article.date, format: '%Y'%>
  </span>
  à
    <span class="bold-mail">
      <%= @article.location %>
    </span>
</p>

  <div class="mail-picture" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url('<%= cl_image_path(@article.photo) %>') ">
  </div>
  <p>
    <%= raw @article.content %>
  </p>
  <div class="article-content-link">
    <a href=<%= 'https://www.angouleme-triathlon.fr/articles/' + "#{@article.id.to_s}" %> >
        <div class="article-link">
        Voir l'article
        <i class="fas fa-long-arrow-alt-right"></i>
      </div>
    </a>
  </div>


  <p>Bonne journée</p>
  <p>
    <%= @article.authors.last.user.firstname %>
    (<%= @article.authors.last.user.profil %>)
  </p>
  <p>
    <i class="fas fa-mobile-alt"></i>
    <%= @article.authors.last.user.mobil_phone %>
  </p>
  <p>
    <i class="far fa-envelope"></i>
    <%= @article.authors.last.user.email %>
  </p>
<%= render 'user_mailer/footer' %>
