<div class="card-product-content product-border">
  <div class="card-product-title">
    <h2><%= product.sport_type.name %></h2>
  </div>
  <%= link_to product_path(product) do %>
    <div class="card-product-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= helper_image_path(product) %>') " >
      <% if !product.active %>
        <div class="picture-card-status">
          <i class="fas fa-exclamation-triangle"></i>
          non publié
          <i class="fas fa-exclamation-triangle"></i>
        </div>
      <% end %>
      <div class="card-product-user">
        <%= product.user.firstname %>
      </div>
      <div class="card-product-description product-border">
        <%= product.description %>
      </div>
      <div class="card-product-informations product-border">
        <div class="product-price">
          Prix : <%= product.price %>€
        </div>
        <div class="product-stock">
         Stock : <%= product.stock %>
        </div>
        <div>
          <%= product.sex %>
        </div>
      </div>
    </div>
  <% end %>
  <% if user_signed_in? %>
    <% if current_user.role == 'admin' %>
      <%= link_to edit_product_path(product) do %>
        <div class="homepage-card-edit-link ">
          <i class="far fa-edit"></i>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
