<div class="card-product-content product-border">
  <div class="card-product-title">
    <h3><%= product.name %></h3>
    <p><%= product.sport_type.name %></p>
  </div>
  <%= link_to product_path(product) do %>
    <div class="card-product-photo" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= helper_image_path(product) %>') " >
      <% if !product.active %>
        <div class="picture-card-status">
          <i class="fas fa-exclamation-triangle"></i>
          non publié
          <i class="fas fa-exclamation-triangle"></i>
        </div>
      <% end %>
      <div class="card-product-user">
        <%= render 'shared/user_picture', user: product.user %>
      </div>
      <div class="card-product-description product-border">
        <%= product.description %>
      </div>
      <div class="card-product-informations product-border">
        <div class="product-price">
          Prix : <%= product.price %>€
        </div>
        <div class="product-stock">
         Stock : <%= product.stock %>
        </div>
        <div>
          <%= product.sex %>
        </div>
      </div>
    </div>
  <% end %>
  <% if admin? %>
    <%= link_to edit_product_path(product) do %>
      <div class="article-edit-link ">
        <i class="far fa-edit"></i>
      </div>
    <% end %>
  <% end %>
</div>
