<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.input :photo, label: t('.photo') %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="article-form-photo">
    <% if @product.photo? %>
      <%= cl_image_tag(@product.photo, width: 400) %>
    <% end %>
  </div>
  <%= f.input :name, label: t('.name'), input_html: {maxlength: 40} %>
  <div class="counter-text counter-hide" id="counter-name">...</div>
  <%= f.text_area :description, class: 'ckeditor', label: t('.description'), input_html: {placeholder: t('.placeholder_description'), maxlength: 350} %>
  <div class="counter-text counter-hide" id="counter-description">...</div>
  <%= f.input :price, label: t('.price') %>
  <%= f.input :stock, collection: 1..20, label: t('.stock') %>
  <%= f.input :size_id, label: t('.size') ,collection: @sizes %>
  <%= f.input :sex, collection: @sex, label: t('.sex') %>
  <%= f.input :sport_type_id, label: t('.sport_type') , collection: @sport_types %>
  <% if admin? %>
    <div class="article-mail-div">
      <div class="administrator-content">
        <div class="product-type-content">
          <%= f.input :product_type_id, label: t('.product_type'), collection: @product_types%>
        </div>
        <div class="trash-content">
          <%#= link_to product_path(@product), method: :delete do %>
            <i class="fa-solid fa-trash"></i>
          <%# end %>
        </div>
      </div>
      <div></div>

    </div>
  <% else %>
    <%= f.input :product_type_id, input_html: {value: 2}, as: :hidden%>
  <% end %>
  <div class="product-form-checkbox">
    <%= f.input :active, label: t('.active') %>
    <%= f.input :sold, label: t('.sold') %>
  </div>
  <%= f.submit t('.submit') , class: 'btn btn-danger btn-block' %>

<% end %>
