<%= simple_form_for(@product) do |f| %>
  <%= f.error_notification %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>
  <div class="article-form-photo">
    <% if @product.photo? %>
      <%= cl_image_tag(@product.photo, width: 400) %>
    <% end %>
  </div>
  <%= f.input :name, label: "Titre de l'annonce", input_html: {maxlength: 40} %>
  <div class="counter-text counter-hide" id="counter-name">...</div>
  <%= f.input :description, label:"description de l'annonce", input_html: {placeholder: 'Vous diposez de 350 caractères pour décrire votre produit', maxlength: 350} %>
  <div class="counter-text counter-hide" id="counter-description">...</div>
  <%= f.input :price, label: 'Prix' %>
  <%= f.input :stock, collection: 1..20, label: 'Stock / Quantité' %>
  <%= f.input :size_id, label: 'Taille' ,collection: @sizes %>
  <%= f.input :sex, collection: @sex %>
  <%= f.input :sport_type_id, label: "Type d'activité", collection: @sport_types %>
  <% if admin? %>
    <%= f.input :product_type_id, label: "Rubrique de publication", collection: @product_types%>
  <% else %>
    <%= f.input :product_type_id, label: "Rubrique de publication", input_html: {value: 2}, as: :hidden%>
  <% end %>
  <div class="product-form-checkbox">
    <%= f.input :active, label: "Publier l'annonce" %>
    <%= f.input :sold, label: "Article vendu" %>
  </div>
  <%= f.submit 'Enregistrer', class: 'btn btn-danger btn-block' %>
<% end %>
