<div class="container">
  <div class="row">
    <h3>Petites annonces</h3>
    <div class="hidden-xs a-list-content">
      <% if @triathlon_products.count > 0 %>
        <a href="#triathlon" class="product-a-list">Triathlon (<%= @triathlon_products.count %>)</a>
      <% end %>
      <% if @swim_products.count > 0 %>
        <a href="#swim" class="product-a-list">Natation (<%= @swim_products.count %>)</a>
      <% end %>
      <% if @bike_products.count > 0 %>
        <a href="#bike" class="product-a-list">Vélo (<%= @bike_products.count %>)</a>
      <% end %>
      <% if @run_products.count > 0 %>
        <a href="#run" class="product-a-list">Course à pied (<%= @run_products.count %>)</a>
      <% end %>
      <% if @electro_products.count > 0 %>
        <a href="#electro" class="product-a-list">Electro (<%= @electro_products.count %>)</a>
      <% end %>
      <% if @rent_products.count > 0 %>
        <a href="#rent" class="product-a-list">Location (<%= @rent_products.count %>)</a>
      <% end %>
    </div>
    <div class="col-xs-12" id="triathlon">
      <% if @triathlon_products.count > 0 %>
        <h4>Triathlon (<%= @triathlon_products.count %>)</h4>
        <% @triathlon_products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'card_product', product: product %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12" id="swim">
      <% if @swim_products.count > 0 %>
        <h4>Natation (<%= @swim_products.count %>)</h4>
        <% @swim_products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'card_product', product: product %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12" id="bike">
      <% if @bike_products.count > 0 %>
        <h4>Vélo (<%= @bike_products.count %>)</h4>
         <% @bike_products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'card_product', product: product %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12" id="run">
      <% if @run_products.count > 0 %>
        <h4>Course à pied (<%= @run_products.count %>)</h4>
        <% @run_products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'card_product', product: product %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12" id="electro">
      <% if @electro_products.count > 0 %>
        <h4>Electro (<%= @electro_products.count %>)</h4>
        <% @electro_products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'card_product', product: product %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12" id="rent">
      <% if @rent_products.count > 0 %>
        <h4>Location (<%= @rent_products.count %>)</h4>
        <% @rent_products.each do |product| %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <%= render 'card_product', product: product %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-12">
      <h4>Vendus</h4>
      <% @sold_products.each do |product| %>
        <div class="col-xs-12 col-sm-6 col-md-4">
          <%= render 'card_product', product: product %>
        </div>
      <% end %>
    </div>
    <% if member? %>
      <div class="hidden-sm hidden-md hidden-lg">
        <%= link_to new_product_path do %>
          <div class="plus-button plus-button-mobile">
            <i class="far fa-edit"></i>
          </div>
        <% end %>
      </div>
      <div class="hidden-xs">
        <%= link_to new_product_path do %>
          <div class="plus-button plus-button-desktop">
            <i class="far fa-edit"></i>
             Déposer une annonce
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

