<div class="container">
  <div class="row">
    <h3>
      Test area
    </h3>

    <%= link_to new_test_path, class:"btn btn-block btn-danger" do %>
    Faire un nouveau test
    <i class="fa-regular fa-bookmark"></i>
    <% end %>

    <h3>Previous test</h3>
    <% @tests.each do |test| %>
      <p>
        <%= test.name %>
        <%= l test.created_at, format: '%-d-%-m-%Y %R' %>
      </p>
    <% end %>

    <%= render 'shared/workout_card', {workout: @workout} %>

    <% WeekDay.all.each do |day| %>
      <p class="workout-th"><%= day.name %></p>
      <% if !@workouts[day.id].nil? %>
        <% @workouts[day.id].each do |workout| %>
          <%= render 'shared/workout_card', {workout: workout} %>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <table>
    <tr>
      <th class="workout-th">Lundi</th>
      <th class="workout-th">Mardi</th>
      <th class="workout-th">Mercredi</th>
      <th class="workout-th">Jeudi</th>
      <th class="workout-th">Vendredi</th>
      <th class="workout-th">Samedi</th>
      <th class="workout-th">Dimanche</th>
    </tr>
    <tr class="workout-td">
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
    </tr>
    <tr class="workout-td">
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
    </tr>
    <tr class="workout-td">
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
    </tr>
    <tr class="workout-td">
      <td></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
    </tr>
    <tr class="workout-td">
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= render 'shared/workout_card', {workout: @workout} %></td>
    </tr>
  </table>
</div>
