<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="8bWOen8M79X2ubBvHC3oAX7SxBCgg-wlwB4agus6I-Q" />
    <title>
      Angoulême Triathlon, duathlon
    </title>
    <meta name="title" content="Angoulême Triathlon, duathlon, sport enchainé, natation, vélo, course à pied ...">
    <meta name="description" content="Club de triathlon : entrainement en groupe de niveau, natation, vélo, course à pied, compétitions, format xs, format s, format M, format L et format XXL ">
    <meta name="keywords" content="Triathlon, Ironman, Angoulême, vélo, course à pied, natation">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Angoulême Triathlon : club de triathlon et de duathlon proposant des entrainements en natation, vélo, course à pied par groupe de niveau. Super ambiance...">
    <meta property="og:title" content="Angoulême Triathlon">

    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= favicon_link_tag 'logo.png' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">
    <script src="https://kit.fontawesome.com/cc5668d006.js" crossorigin="anonymous"></script>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101017146-3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-101017146-3');
  </script>

  <body>
    <%= render 'shared/taxe' %>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
